* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: Arial, sans-serif;
}

.block {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.block img {
    width: 600px;
    max-width: 90%;
    border-radius: 12px;
}

.text {
    margin: 20px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
